<html>
  <title>Digital</title>
  <head>
    <link href="../styles/style.css" rel="stylesheet" />
    {{{block "head"}}}
  </head>
  <body>
    <div id="background">
    {{{block "body"}}}
    </div>
  </body>
</html>