<!doctype html>
<html>
  <head>
    <title>Digital Mirror</title>
    <link href="/styles/style.css" type="text/css" media="all" rel="stylesheet" />
    {{{block "head"}}}
  </head>
  <body>
    <div id="background">
    {{{block "body"}}}
    </div>
  </body>
</html>