{{#extend "layout"}}
  {{#content "body"}}
  <head>
    {{{block "head"}}}
  </head>
  <div id='home'></div>
    <div id=''><h1>Welcome to Digital Mirror</h1></div>
    <p>Create an <a href='/cool'>Account</a> to get Started on Your Journey To Self Reflection</p>
    <p><a href='/cool'>Link</a> Supported Social Media Profiles for our Algorithm to Analyse</p>
    <p>Once our Algorithm Has Analysed Your Data it will Produce a Detailed Reflection of Your Online Self</p>
  {{/content}}
{{/extend}}
